$var title: 爱虎号应用中心 

<div class="jumbotron">
    <h1>有梦想谁都了不起!</h1>
    <p class="lead">这里放一些我搞的酷炫的，时尚的，流弊的，霸气的，了不起的，小而美的，有情怀的，O2O的，闭环的，生态圈的，平台的，H5干货接地气的App。</p>
    <p><a class="btn btn-lg btn-success" href="/qq_login" role="button">立即体验</a></p>
</div>
<div class="row">
    <div class="col-lg-4">
        <h2>我的卡路里(未完成)</h2>
        <p>要减肥，得先从饮食开始，想滋道每天自己吃了多少卡路里的食物吗，
        本App专为想减肥的盆友们量身打造，加油吧，骚年，不要太瘦哦。</p>
        <p><a class="btn btn-primary" href="/calorie" role="button">体验一下»</a></p>
    </div>
    <div class="col-lg-4">
        <h2>Csv图表</h2>
        <p>老板让你查一下最近几个月的新增用户数，你发现还得上现网Mysql去查，查完了还得导出成csv格式，再在Excel里生成图表，结果生成的图表都快丑Cry了，这个App就是你的救星，安全无毒无副作用。 </p>
        <p><a class="btn btn-primary" href="/csvchart/" role="button">体验一下»</a></p>
    </div>
    <div class="col-lg-4">
        <h2>云点评(未启动)</h2>
        <p>在总理提出的大众创业，万众创新的大环境下，你难道没有一颗想要改变世界，下海创业的心吗？但是问题来了，这么多云服务都说自己是最流弊的，咋选来？群众的眼睛是雪亮的，来看看用户怎么说吧。
        </p>
        <p><a class="btn btn-primary" href="/yundianping/" role="button">体验一下»</a></p>
    </div>
</div>
