$def with (content)
<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="utf-8">
        <title>$content.get('title', '爱虎号')</title>
        <meta property="qc:admins" content="451435444061050176375" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="http://libs.baidu.com/bootstrap/3.2.0/css/bootstrap.css" rel="stylesheet">
        <script src="http://libs.baidu.com/jquery/1.8.2/jquery.js"></script>
        <script src="http://libs.baidu.com/bootstrap/3.2.0/js/bootstrap.js"></script>
        <script src="http://libs.baidu.com/underscore/1.3.3/underscore.js"></script>
        <script src="http://libs.baidu.com/backbone/0.9.2/backbone.js"></script>
        <script src="http://cdn.bootcss.com/mustache.js/0.8.1/mustache.js"></script>
    </head>
    <body>
        <div class="navbar navbar-fixed-top navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">切换导航</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">爱虎号应用中心</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">首页</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        $if not session.logined:
                            <li><a href="/qq_login">用QQ登录</a></li>
                        $else:
                            <li><a title="" href="/logout">退出登录</a></li>
                        <li><a href="/about">关于</a></li>
                    </ul>
                    $if session.logined:
                        <p class="navbar-text pull-right">$session.nickname</p>
                </div>
            </div>
        </div>
        <div class="container" style="margin-top:60px;min-height:500px;">
        $:content
        </div>
        <footer>
        <div class="container">
            <p>&copy; Wawasoft 2014.</p>
        </div>
        </footer>
    </body>
</html>i
