.nav-sidebar > h3 {
    font-size: 16px;
    font-weight: bold;
    height: 32px;
    line-height: 32px;
    color: #428BCA;
    margin:0;
}

.nav-sidebar li a {
    padding: 5px 15px;
}
.nav-sidebar > li.active a {
    border-left: 2px solid #1B809E;
    background-color: #EEEEEE;
}
