<link href="/static/yundianping/main.css" rel="stylesheet">
<ol class="breadcrumb">
    <li><a href="#">首页</a></li>
    <li class="active">云点评</li>
</ol>
<div class="row">
    <div class="col-md-2">
        <ul class="nav nav-sidebar">
            <h3>云主机</h3>
            <li class="active"><a href="#">阿里云ECS<span class="sr-only">(current)</span></a></li>
            <li><a href="#">腾讯云CVM</a></li>
            <li><a href="#">亚马逊EC2</a></li>
            <li><a href="#">青云主机</a></li>
        </ul>
        <ul class="nav nav-sidebar">
            <h3>云数据库</h3>
            <li><a href="">腾讯云CDB</a></li>
            <li><a href="">阿里云RDS</a></li>
        </ul>
        <ul class="nav nav-sidebar">
            <h3>CDN</h3>
            <li><a href="">七牛CDN</a></li>
            <li><a href="">阿里云CDN</a></li>
            <li><a href="">腾讯云CDN</a></li>
            <li><a href="">又拍云云CDN</a></li>
        </ul>
    </div>
    <div class="col-md-10">
        <h2>阿里云ECS</h2>
        <p class="intro">云服务器（Elastic Compute Service 简称ECS）是一种简单高效，处理能力可弹性伸缩的计算服务助您快速构建更稳定、安全的应用。提升运维效率，降低IT成本，使您更专注于核心业务创新</p>
    </div>
</div>
