<link href="/static/yundianping/main.css" rel="stylesheet">
<h3>云点评</h3>
<div class="row">
    <div class="col-md-3">
        <h4>服务分类</h4> 
        <ul class="nav nav-sidebar">
            <li><a href="tag/1">云主机</a></li>
            <li><a href="tag/1">云主机</a></li>
            <li class="active">
                <a href="tag/1">云主机</a>
                <ul class="nav">
                    <li><a href="tag/1">云主机1</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-md-9">
        <h4>详情</h4> 
    </div>
</div>
