<style type="text/css" media="screen">
.item {
    margin: 5px 0;
}
.item .header {
    background-color:#ddd;
    overflow: hidden;
    padding: 5px 0;
}
.item p{
    padding: 0 5px;
    margin: 0;
}

</style>
<h3>我的卡路里</h3>
<div class="row">
    <div class="col-md-6">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#tab-food" role="tab" data-toggle="tab">饮食</a></li>
            <li><a href="#tab-home" role="tab" data-toggle="tab">历史</a></li>
            <li><a href="#tab-sport" role="tab" data-toggle="tab">运动</a></li>
            <li><a href="#tab-help" role="tab" data-toggle="tab">帮助</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab-food">
                <div id="placeholder-food-select">
                </div>
                <div id="placeholder-food-select-result">
                </div>
                <button type="submit" class="btn btn-primary">添加饮食记录</button>
            </div>
            <div class="tab-pane" id="tab-home">
                <div class="item">
                    <div class="header">
                        <p class="pull-left">2014-10-10</p>
                        <p class="pull-right">550 大卡</p>
                    </div>
                    <div style="clear:both"></div>
                    <p>鸡蛋1个</p>
                    <p>米饭500克</p>
                </div>
                <div class="item">
                    <div class="header">
                        <p class="pull-left">2014-10-09</p>
                        <p class="pull-right">1024 大卡</p>
                    </div>
                    <div style="clear:both"></div>
                    <p>猪肉半斤</p>
                    <p>馒头5个</p>
                </div>
            </div>

            <div class="tab-pane" id="tab-sport">sport</div>
            <div class="tab-pane" id="tab-help">help</div>
        </div>       
    </div>
</div>
<script id="tpl-food-select" type="text/template" charset="utf-8">
     <div class="panel panel-default" style="margin-top:10px;">
        <div class="panel-heading">
            <h3 class="panel-title">选择食物</h3>
        </div>
        <div class="panel-body">
            <div class="input-group">
                <input type="text" class="form-control txt-food-keyword">
                <span class="input-group-btn">
                    <button class="btn btn-default btn-search-food" type="button">搜索食物</button>
                </span>
            </div><!-- /input-group -->
            <ul class="list-inline" style="margin-top:10px;">
                <li class="clear-search"><a href="#">清空搜索</a></li>
                {{#search_food_results}}
                <li class="most-food-item"><a href="#" data-id="{{0}}">{{0}} ({{1}}卡)</a></li>
                {{/search_food_results}}
                {{#most_foods}}
                <li class="most-food-item"><a href="#" data-id="{{0}}">{{0}} ({{1}}卡)</a></li>
                {{/most_foods}}
            </ul>
        </div>
    </div>
</script>
<script id="tpl-food-select-result" type="text/template" charset="utf-8">
    <div class="panel panel-default" style="margin-top:10px;">
        <div class="panel-heading">
            <h3 class="panel-title">计算结果: <span style="color:blue; font-weight:bold;">{{total}}</span> 卡路里</h3>
        </div>
        <div class="panel-body">
            <ul class="list-inline">
                {{#foods}}
                <li><a href="#">{{0}}</a></li>
                {{/foods}}
            </ul>
        </div>
    </div>
</script>
<script src="/static/calorie/food_calorie.js"></script>
<script src="/static/calorie/main.js"></script>
